<a href="/server/<%= @server.id %>/edit" class="right">Edit</a>
<a href="/project/<%= @server.project.id %>">back</a>
<h3><%= @server.name %></h3>
<a class="button active" href="/server/<%= @server.id %>">Current state</a>
<a class="button" href="/server/<%= @server.id %>/last_hour">Last 1h</a>
<a class="button" href="/server/<%= @server.id %>/last_day">Last 24h</a>
<a class="button" href="/server/<%= @server.id %>/last_month">Last 30d</a>

<% if @server.states.count > 0 %>
  <div class="row">
    <div class="six columns panel">
      <p>
        <strong>Uptime:</strong>
        <%= @server.current_data[:uptime] %>
      </p>
      <div>
        <% @server.current_data[:disks].each do |disk| %>
          <strong>Partition: <%= disk[:path] %></strong>
          <%= "#{disk[:free]}GB free from #{disk[:total]}GB total" %>
          <div class="progress">
            <div class="bar <%= disk[:usage] > 80 ? 'fail' : 'ok' %>" style="width: <%= disk[:usage] %>%">
            <span class="value"><%= "#{disk[:usage]}%" %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="six columns panel">
      <strong>CPU:</strong>
      <div class="progress">
        <span class="value"><%= @server.current_data[:cpu] %>%</span>
        <div class="bar <%= @server.current_data[:cpu] > 80 ? 'fail' : 'ok' %>" style="width: <%= @server.current_data[:cpu] %>%"></div>
      </div>
      <strong>RAM:</strong>
      <div class="progress">
        <span class="value"><%= @server.current_data[:ram] %>%</span>
        <div class="bar <%= @server.current_data[:ram] > 80 ? 'fail' : 'ok' %>" style="width: <%= @server.current_data[:ram] %>%"></div>
      </div>
      <strong>SWAP:</strong>
      <div class="progress">
        <span class="value"><%= @server.current_data[:swap] %>%</span>
        <div class="bar <%= @server.current_data[:swap] > 80 ? 'fail' : 'ok' %>" style="width: <%= @server.current_data[:swap] %>%"></div>
      </div>
    </div>
  </div>
<% else %>
  <strong>No data collected yet</strong>
<% end %>
