<h2><%= @user.persisted? ? 'Edit user' : 'New user' %></h2>
<form method="post" action="<%= @user.persisted? ? "/user/#{@user.id}" : '/users' %>" data-parsley-validate="true">
  <label>Email:</label>
  <input type="text" name="email" value="<%= @user.email %>" data-parsley-required="true" data-parsley-type="email">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @user.name %>">
  <label>Password:</label>
  <input type="password" name="password" <%= 'data-parsley-required="true"' unless @user.persisted? %> data-parsley-minlength="8">
  <% if current_user.admin? %>
    <label>Role:</label>
    <select name="role">
      <% %w[user admin].each do |role| %>
        <option value="<%= role %>" <%= 'selected' if @user.role == role %>><%= role %></option>
      <% end %>
    </select>
  <% end %>
  <br>
  <input type="submit">
</form>
