<a href="/project/<%= @project.id %>/edit" class="right">Edit</a>
<h3><%= @project.name %></h3>

<div class="row">
  <a class="right" href="/project/<%= @project.id %>/server/new">new</a>
  <h4>Servers</h4>
</div>

<% @project.servers.each do |server| %>
  <div class="list-item <%= server.is_ok ? 'success' : 'fail' %>">
    <a class="item-url" href="/server/<%= server.id %>"><%= server.name %></a>
    <% if server.states.exists? %>
      <div class="data">
        <% unless server.issues.empty? %>
        <span class="issues">issues: <%= server.problems %></span>
        <% end %>
        <div class="data-item">
          <span class="sign">CPU:</span><span class="piety donut"><%= server.current_data[:cpu] %>/100</span>
        </div>
        <div class="data-item">
          <span class="sign">RAM:</span><span class="piety donut"><%= server.current_data[:ram] %>/100</span>
        </div>
        <div class="data-item">
          <span class="sign">SWAP:</span><span class="piety donut"><%= server.current_data[:swap] %>/100</span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <a class="right" href="/project/<%= @project.id %>/check/new">new</a>
  <h4>HTTP Checks</h4>
</div>

<% @project.checks.each do |check| %>
  <div class="list-item <%= check.is_ok ? 'success' : 'fail' %>">
    <a class="item-url" href="/check/<%= check.id %>"><%= check.url %></a>
  </div>
<% end %>
