<form method="post" action="<%= @ping.new? ? '/pings' : "/ping/#{@ping.id}" %>">
  <label>URL:</label>
  <input type="text" name="url" value="<%= @ping.url %>">
  <label>Type:</label>
  <select name="is_ping" class="js-ping-type-select">
    <option value="0" <%= 'selected' unless @ping.is_ping %>>HTTP</option>
    <option value="1" <%= 'selected' if @ping.is_ping %>>PING</option>
  </select>
  <div class='js-http-method-input'>
    <label>HTTP method:</label>
    <span>GET</span>
    <input type="hidden" name="http_method" value="<%= @ping.http_method || 'GET' %>">
  </div>
  <br>
  <input type="submit">
</form>
