<% if current_user.admin? %>
  <a class="button" href="/pings/new">New one</a>
<% end %>

<% @pings.each do |ping| %>
  <div class="list-item <%= ping.is_ok ? 'success' : 'fail' %>">
    <span class="ping-type"><%= ping.is_ping ? 'PING' : "HTTP '#{ping.http_method}'" %></span>
    <a class="ping-url" href="/ping/<%= ping.id %>"><%= ping.url %></a>
    <% if ping.is_ok && ping.last_response_time %>
      <span class="ping-lag"><%= ping.last_response_time %>ms</span>
    <% end %>
  </div>
<% end %>
