<div class="check-show">
  <div class="headline">
    <% if @check.project %>
      <a href="/project/<%= @check.project.id %>">[<%= @check.project.name %>]</a>
    <% end %>
    <h2><%= @check.name %></h2>
    <span class="url"><%= @check.url %></span>
    <a class="button right" href="/check/<%= @check.id %>/edit">Edit</a>
  </div>
  <div id="responses_chart" data-id=<%= @check.id %>></div>
</div>
